header {

    background-color: #d1c5e1;
    animation-name: example;
    animation-duration: 4s;
  }
  footer{
    background-color:#d1c5e1;
    animation-name: example;
    animation-duration: 4s;
  }
  @keyframes example {
    from {background-color: black;}
    to {background-color: #d1c5e1;}
  }
  h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
   
    inset: 0 0 0 0;
    background: #afafaf;
    z-index: -1;
    transition: transform .3s ease;
  }
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}