{% extends 'base.html' %}
{% block content %}
<title>About | Rosewill Conservation</title>   
<style>
  .nav-link.active{
    background-color: #D76F30 !important;
  }
</style>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color:#172D13">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4" style="color:#D76F30; font-family:Lucida Handwriting"><b>Rosewill Conservation</b></span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="{%url 'index'%}" class="nav-link" style="color:#D76F30; font-family:Copperplate" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{%url 'about'%}" class="nav-link active" style="background-color:#D76F30; font-family:Copperplate">About</a></li>
    <li class="nav-item"><a href="{%url 'contact'%}" class="nav-link" style="color:#D76F30; font-family:Copperplate">Contact</a></li>
    <li class="nav-item"><a href="{%url 'donate'%}" class="nav-link" style="color:#D76F30; font-family:Copperplate">Donate</a></li>
  </ul>
</header>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">About</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Rosewill Conservation 501c3 was founded in 2021 by a 4th generation cattle ranching family in NE Montana in order to protect the ecosystems, habitat, and history preserved here by the local families.</p>
    <p class="lead mb-4">Rosewill Conservation Inc. is an environmental conservation organization that has been established to fund programs and staff grants. The initiative as an existing organization intends to expand its programs and staff additions by reshaping an economic system that serves the oil, agriculture, and aerospace industries to protect and improve the ecosystem on Earth and in space. To kickstart our expansion programs, we seek to raise funds to give grants to conservation biotech startups, companies, and agricultural operators.</p>  
  </div>
</div>

  {% endblock %}  
  