{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Confirmation | Rosewill Conservation</title>   
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color:#172D13">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4" style="color:#D76F30; font-family:Lucida Handwriting"><b>Rosewill Conservation</b></span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{%url 'index'%}" class="nav-link" aria-current="page" style="color:#D76F30; font-family:Copperplate">Home</a></li>
      <li class="nav-item"><a href="{%url 'about'%}" class="nav-link" style="color:#D76F30; font-family:Copperplate">About</a></li>
      <li class="nav-item"><a href="{%url 'contact'%}" class="nav-link" style="color:#D76F30; font-family:Copperplate">Contact</a></li>
      <li class="nav-item"><a href="{%url 'donate'%}" class="nav-link" style="color:#D76F30; font-family:Copperplate">Donate</a></li>
    </ul>
  </header>
</div>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Thank you</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">We have recieved your contact request.A member of our team will reach out to you soon</p>
  </div>
</div>
{% endblock %}  
  