{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% load static %}
{% block content %}   

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color:#172D13">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4" style="color:#D76F30; font-family:Lucida Handwriting"><b>Rosewill Conservation</b></span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page" style="color:#D76F30; font-family:Copperplate">Home</a></li>
    <li class="nav-item"><a href="/about" class="nav-link" style="color:#D76F30; font-family:Copperplate">About</a></li>
    <li class="nav-item"><a href="/contact" class="nav-link active" style="background-color:#D76F30; font-family:Copperplate">Contact</a></li>
  </ul>
</header>

<main class="form-signin w-100 m-auto">
  <div class="container">

  <h1><center>Contact</center></h1>

    <form method = "post">
        {%csrf_token%}
      {{form|crispy}}
      <center><input type="submit" value="Submit" class="btn btn-primary"></center>
    </div>

      </form>
    </main>
  {% endblock %}  
  